/* ===== Base Reset ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  background-color: #0e1823;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* ===== Layout ===== */


.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
.header-page {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 1240px;

    border: 1px solid #fbfbfb;
    border-radius: 8px;
    background-color: #fbfbfb;

    padding: 12px 30px;
    z-index: 100;
}

.header-page .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.navigation-list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background: rgba(27, 65, 75, 0.5);

    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 9px;
    height: 40px;
    width: 91px;
}
.logo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
    justify-self: start;
}



.social-list {
    display: flex;
    gap: 8px;
}


.social-list-item {}

.social-list-icon-link {}

.social-list-icon {
    height: 16px;
    width: 16px;
}


/* HERO */

.hero-page {
  background-color: #0e1823;
    background-image: url("../images/back-hero.jpg");
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-title {}

.hero-text {}

.hero-rental-link {}

.review-page {}

.title-two {}

.review-title {}

.review-text {}

.review-image {}

.choose-page {}

.yacht-list {}

.yacht-list-item {}

.yacht-list-image {}

.yacht-list-text {}

.yacht-list-span {}

.yacht-list-rent-link {}

.benefits-page {}

.benefits-list {}

.benefits-list-item {}

.benefits-list-title {}

.benefits-list-text {}

.benefits-list-image {}

.rent-page {}

.rent-page-image {}

.rent-page-input {}

.rent-page-button {}

.response-page {}

.response-text {}

.response-list {}

.response-list-item {}

.response-list-imaage {}

.response-list-title {}

.response-list-text {}

.footer-page {}

.footer-page-section {}

.copy-text {}

.copy-link {}