/* ===== Base Reset ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  background-color: #0e1823;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
button {
  cursor: pointer;
}

/* ===== Layout ===== */


.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 25px;
}

/* ANIMATION */

@keyframes header-move {
  0% {
    top: -60px;
  }
  100% {
    top: 32px;
  }
}

/* HEADER */
.header-page {
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1240px;
    min-width: 600px;

    border: 1px solid #fbfbfb;
    border-radius: 8px;
    background-color: #fbfbfb;
    z-index: 100;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;


    animation-name: header-move;
    animation-duration: 1.5s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.header-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 25px;
}
.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 4px;
}

.navigation-list-item {
    display: flex;
    align-items: center;
    text-align: center;


}

.navigation-list-item-link {
  font-family: "Inter", sans-serif;
  align-items: center;
  padding: 15px 25px 15px 24px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 9px;
  background: rgba(27, 65, 75, 0.5);
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  transition: background-color 200ms linear, transform 0.3s linear;
  

}
.navigation-list-item-link:hover, .navigation-list-item-link:focus {
  background-color: #1b414b;
  transform: scaleY(1.1);
}
.logo {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
  transition: transform 0.3s ease;
}

.logo:hover,
.logo:focus {
  transform: scale(1.1);
}

.social-list {
  display: flex;
  gap: 8px;
}




.social-list-icon {
  display: block;
  fill: #1b414b;
  transition: fill 0.3s ease, transform 0.3s ease;

}
.social-list-icon:hover, .social-list-icon:focus {
  transform: scale(1.2);
  fill: #062730;


}

/* HERO */

.hero-page {
  background-color: #0e1823;
  background-image: linear-gradient(rgb(17, 19, 31, 0.15), 
        rgb(17, 19, 31, 0.75), 
        rgb(17, 19, 31, 0.98)), 
        url("../images/back-hero.jpg");
  margin: 0 auto;
  max-width: 1440px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 235px;
  padding-bottom: 215px;
}
.hero-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
  max-width: 1001px;

}

.hero-text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 48px;
  max-width: 597px;
}

.hero-rental-link {
  border-radius: 15px;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background: #1b414b;
  display: inline-block;
  transition: background-color 0.3s linear, transform 0.3s linear, color 0.3s linear;
}

.hero-rental-link:hover, .hero-rental-link:focus{
  transform: scale(1.1);
  background-color: #fbfbfb;
  color: #1b414b;
  
}
/* review-page */


.review-page {
  background: #fbfbfb;
  border-radius: 28px;
  width: 1340px;
  margin: -35px auto 0;
}
.review-page .container {
  padding: 0;
}
.title-two {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.advantage {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0;
  gap: 299px;
}
.advantage-wrapper {
  max-width: 404px;
  margin-bottom: 100px;
  
}

.review-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
  }


.review-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.review-image {
  border-radius: 26px;
}


/* CHOOSE SECTION */

.choose-page {
  padding-top: 150px;
  padding-bottom: 150px;
}

.choose-page .title-two {
  margin: 0 auto 75px;
  color: #fbfbfb;
  text-align: center;
  max-width: 714px;

  
}

.choose-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
.yacht-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 50px;
  

}

.yacht-list-item {
  background-color: #fbfbfb;
  width: 392px;
  padding: 16px 16px 32px;
  border-radius: 24px;
  transition: transform 0.3s linear;
}
.yacht-list-item:hover {
  transform: scale(1.1);
}
.yacht-list-image {
  border-radius: 24px;
  width: 360px;
}

.yacht-list-text-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  position: relative;
}

.yacht-list-text-title::after {
  content: "";
  width: 100%;
  height: 1px;
  top: 32px;
  background-color: rgba(4, 3, 6, 0.1);
  position: absolute;
}
.yacht-list-span-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(4, 3, 6, 0.4);
  ;
}

.yacht-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(4, 3, 6, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yacht-list-span {
  color: #040306;
}
.yacht-list-text-box {
  display: flex;
  flex-direction: column;
  margin: 32px auto 0;
  width: 328px;
  gap: 6px;
}

.yacht-list-rent-link {
  display: inline-block;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 16px 40px;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s linear, color 0.3s linear, background-color 0.3s linear;

}

.yacht-list-rent-link:hover, .yacht-list-rent-link:focus {
  transform: scale(1.1);
  background-color: #fbfbfb;
  color: #1b414b;
}

/* BENEFITS PAGE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-page {
  padding-bottom: 150px;
}

.benefits-page .container {
  display: flex;
  gap: 32px;
  
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #1b414b;
  border-radius: 24px;
  padding: 90px 50px;
  row-gap: 44px;
  column-gap: 32px;

}

.benefits-list-item {
  flex-basis: calc((100% - 32px) / 2);
}

.benefits-list-title {
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  position: relative;
}
.benefits-list-title::after {
  content: "";
  position: absolute;
  border-radius: 18px;
  left: 0;
  bottom: -18px;
  width: 100%;
  height: 2px;
  background-color: rgba(251, 251, 251, 0.1);
}
.benefits-list-text {
  opacity: 0.8;
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.benefits-list-image {
  border-radius: 24px;
  max-width: 540px;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* RENT PAGE */

.rent-page {
  padding-bottom: 150px;
}

.rent-page .container {
  display: flex;
  gap: 50px;
  padding-right: 75px;
  
}

.rent-page .title-two {
  color: #fbfbfb;
}

.rent-page-image {
  border-radius: 24px;
  width: 768px;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}
.form-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}


.form-list input,
.form-list textarea {
  padding: 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fbfbfb;
  transition: border 0.3s ease;
}


input:hover, input:focus, input:active, textarea:hover, textarea:focus, textarea:active{
  border: 1px solid rgba(251, 251, 251, 0.5);
  outline: none;
}
.rent-page-input-comment {
  height: 116px;
  resize: none;
}
.rent-page-button {
  background-color: #1b414b;
  border-radius: 15px;
  padding: 18px 75px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  width: 194px;
  transition: background-color 0.3s linear, transform 0.3s linear, color 0.3s linear;
}

.rent-page-button:hover, .rent-page-button:focus{
  transform: scale(1.1);
  background-color: #fbfbfb;
  color: #1b414b;
}
input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(251, 251, 251, 0.4);
}
/* RESPONSE */
.response-page {
  padding-bottom: 150px;
}

.response-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.response-page .title-two {
  color: #fbfbfb;
  max-width: 854px;
  text-align: center;
  margin-bottom: 25px;
}

.response-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  max-width: 571px;
  margin-bottom: 75px;
}

.response-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;

}

.response-list-item {
  width: calc((100% - 64px) / 3);
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response-list-imaage {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
  
}

.response-list-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.response-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  max-width: 320px;
}

/* FOOTER */

.footer-page-section .logo{

  color: #fbfbfb;
}
.footer-page-section {
  background: #1b414b;
  border-radius: 24px 24px 0 0;
  margin: 0 auto;
  padding: 50px 0 20px;
  max-width: 1390px;
}
.footer-page-section .container {
  padding: 0 75px;

}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
  align-items: baseline;
}


.navigation-list-item-link-footer {
  font-weight: 400;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  background: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  transition: transform 0.3s linear, background-color 0.3s linear, color 0.3s linear;
}
.navigation-list-item-link-footer:hover, .navigation-list-item-link-footer:focus {
  
  transform: scaleY(1.1);
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-page-section .social-list-icon {
  fill: #fbfbfb;
}
.footer-page-section .social-list-icon:hover, .footer-page-section .social-list-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}
.footer-page-section .title-two {
  font-family: "Inter", sans-serif;
  color: #fbfbfb;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 99px;
}
.footer-copy {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.copy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

.copy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}